<section id="hero">
    <div class="container text-center pb-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="display-4 fw-bolder mb-2 text-white">Discover. Learn. Enjoy</h1>
                <h6 class="fs-5 fw-semibold mb-2 hero-text">platform for creatives around the world</h6>
            </div>
            <div class="w-100"></div>
            <div class="col-sm-7 pt-4">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text rounded-start-pill border border-0 bg-white fs-5 font">
                        <i class="bi bi-search ms-lg-4 ms-sm-2 ms-1" role="button"></i>
                    </span>
                    <input type="text" class="pe-3 keyword border fs-5 form-control border-0 bg-white" placeholder="Design, Code, Marketing, Finance ..." aria-label="Search" aria-describedby="search">
                    <div class="input-group-text bg-white rounded-end-pill border border-0">
                        <button class="btn btn-primary rounded-pill border my-lg-2 me-lg-3 py-md-2 px-md-4 py-1 px-2 border-0 fs-5 fw-semibold font" id="search" (click)="reload()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>